.heading{
    font-size: 30px;
    text-align: center;
    float: none;
    color: lime;
    width: 100%;
}
.copy_right_footer{
    background-color: grey;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    line-height: 3;
    font-size: 25px;
}